:root{
    --fontdefautl: 10px;
    --primarycolor:#FF090D;
    --couleur-neutre:#fff;
    --couleur-seconde:#AEA9A9;
    --jim-family: "Jim Nightshade", cursive;
    --lilita-family:  "Lilita One", sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: url('/assets/images/fond.png');
}

nav{
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 5rem;
    padding:0 4rem;
}

ul{
    width: 50%;
   display: flex;
   justify-content: space-between;
}

li a{
    text-decoration: none;
    font-family: var(--lilita-family);
    font-size: 1.4rem;
    color: var(--primarycolor);
}

.btn{
    width: 15rem;
    height: 3.3rem;
    border-radius: 0.7rem;
    background-color: var(--primarycolor);
    border: none;
    color: var(--couleur-neutre);
    font-family: var(--lilita-family);
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
}

.active{
    color: var(--couleur-neutre);
}

.page1{
    width: 100vw;
    display: flex;
    align-items: center;
    margin-top: 10rem;
}

.nom{
    text-align: center;
    display: flex;
    height: 25rem;
    margin-top: -3rem;
    padding: 0px 4rem;
    flex-direction: column;
    line-height: 2;
    font-family: var(--jim-family);
    font-size: 1.6rem;
    color: var(--couleur-seconde);
    
}

.filiere{
    color: var(--primarycolor);
    font-weight: 900;
    font-size: 4rem;
    padding:2rem 0 ;
}

.photo{
     width: 30rem;
     height: 33rem;
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0px auto;
     border-radius: 60rem;
    display: flex;
    border: none;
    background-color: #4C4A4A;
    margin-right: 10rem;
  
}

img[src="/assets/images/photo.jpeg"]{
    border-radius: 20rem;
    width: 18rem;
    height: 20rem;
}

.btn2{
    margin-left: 10rem;
     width: 15rem;
    height: 3.3rem;
    border-radius: 0.7rem;
    background-color: var(--primarycolor);
    border: none;
    color: var(--couleur-neutre);
    font-family: var(--lilita-family);
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
   
}

.liens{
    width: 20rem;
    height: 5rem;
    margin: 3rem 15rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.page2{
    margin-top: 12rem;
    width: 100vw;
    height: 100vh;
}

.propos h3 {
    width: 15rem;
    height: 3.3rem;
    border-radius: 0.7rem;
    background-color: var(--primarycolor);
    border: none;
    color: var(--couleur-neutre);
    font-family: var(--lilita-family);
    font-size: 1.3rem;
    font-weight: 900;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.desc_propos{
    margin-top: 2rem;
    text-align: center;
    font-family: var(--jim-family);
    font-size: 3rem;
    color:var(--couleur-seconde);
    padding: 0px 6rem;
}

